<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMHealthKioskService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://5.200.78.10:8080/MHealthKioskService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMHealthKioskService"
                contract="MhealthKioskService.IMHealthKioskService" name="BasicHttpBinding_IMHealthKioskService" />
        </client>
    </system.serviceModel>
</configuration>